<header id="header">
  <div class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['Home']">
          <h1>
            <img alt="logo" src="images/logo.png" id="logo">
          </h1>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a [routerLink]="['Home']">Anasayfa</a>
          </li>
          <li>
            <a [routerLink]="['About']">Hakkımızda</a>
          </li>
          <li class="dropdown">
            <a>Faaliyetlerimiz
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="sub-menu" role="menu">
              <li>
                <a [routerLink]="['EducationActivities']">Eğitim Faaliyetler</a>
              </li>
              <li>
                <a [routerLink]="['AidActivities']">Yardım Faaliyetler</a>
              </li>
              <li>
                <a [routerLink]="['SocialActivities']">Sosyal Faaliyetler</a>
              </li>
              <li>
                <a [routerLink]="['WomenCommittee']">Hanimlar Komisyonu</a>
              </li>
            </ul>
          </li>
          <li>
            <a [routerLink]="['Project']">Projelerimiz</a>
          </li>
          <li>
            <a [routerLink]="['Contact']">iletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center bottom-separator">
        <img alt="" class="img-responsive inline" src="images/home/under.png">
      </div>
      <div class="col-md-6 padding-bottom">
        <div class="contact-info bottom padding-bottom">
          <div class="row">
            <div class="col-md-6">
              <h2>iletişim</h2>
              <address>
                E-mail:
                <a href="mailto:info@cinaryardimlasma.com">info@cinaryardimlasma.com</a>
                <br>
                Telefon: 0 216 517 25 37
                <br>
                Fax: 0 216 517 25 37
                <br>
              </address>
            </div>
            <div class="col-md-6">
              <h2>Adres</h2>
              <address>
                Cevizli Muhtarlığı arkası
                <br>
                Denizer Cad.
                <br>
                Niğde Sokak,
                <br>
                No:21 KARTAL
                <br>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
