<nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-fire"></span>
        LOGO
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a [routerLink]="['Signup']">Sign Up</a>
        </li>
        <li>
          <a [routerLink]="['Login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Help Others Change World</h1>
      <p>Join us and help other to change world. Many people are waiting for your help.</p>
      <a [routerLink]="['Signup']" class="btn btn-primary btn-lg">Sign Up Now</a>
    </div>
  </div>
</header>

<!-- Intro Section -->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="section-heading">You have ability to change it.</h2>
        <p class="text-light">
          Create better world to live. Join us help other to change world.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Content 1 -->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive img-circle center-block" src="images/hands.jpg" alt="">
      </div>
      <div class="col-sm-6">
        <h2 class="section-header">Happiness of the helping.</h2>
        <p class="lead text-muted">
          Taste the happiness and peace of the helping other. Become happy with making happy to others.
        </p>
        <a [routerLink]="['Signup']" class="btn btn-primary btn-lg">Happiness</a>
      </div>
    </div>
  </div>
</section>

<!-- Content 2 -->
<section class="content content-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="section-header">
          Only a life lived for others is a life worthwhile.
        </h2>
        <p class="lead text-light">
          Change life of others with helping them. That will change your life too.
        </p>
        <a [routerLink]="['Signup']" class="btn btn-default btn-lg">Give Life</a>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive img-circle center-block" src="images/two-hands.jpg" alt="">
      </div>

    </div>
  </div>
</section>

<!-- Promos -->
<div class="container-fluid">
  <div class="row promo">
    <a>
      <div class="col-md-4 promo-item item-1">
        <h3>
          Work On
        </h3>
      </div>
    </a>
    <a>
      <div class="col-md-4 promo-item item-2">
        <h3>
          Share
        </h3>
      </div>
    </a>
    <a>
      <div class="col-md-4 promo-item item-3">
        <h3>
          Think
        </h3>
      </div>
    </a>
  </div>
</div>
<!-- /.container-fluid -->

<!-- Content 3 -->
<section class="content content-3">
  <div class="container">
    <h2 class="section-header">
      <span class="glyphicon glyphicon-pushpin text-primary"></span><br>
      Collective Helping Moment
    </h2>
    <p class="lead text-muted">
      We are collective moment to help others join us and help others.
    </p>
    <a [routerLink]="['Signup']" class="btn btn-primary btn-lg">Join Us</a>
  </div>
</section>

<footer class="page-footer">
  <div class="contact">
    <div class="container">
      <h2 class="section-heading">Connect Us</h2>
      <p>
        <a href="#">
          <img  src="/images/facebook.png" alt="facebook" />
        </a>
        <a href="#">
          <img src="/images/linkedin.png" alt="linkedin" />
        </a>
        <a href="#">
          <img src="/images/twitter.png" alt="twitter" />
        </a>
        <a href="#">
          <img src="/images/youtube.png" alt="youtube" />
        </a>
      </p>
      <p>
        <span class="glyphicon glyphicon-envelope"></span>
        <br>
        hasancelik@std.sehir.edu.tr
      </p>
    </div>
  </div>
</footer>
